.card-body {
    overflow: auto !important;
    padding: 2px;
}

.card-body2 {
    display: flex;
    height: 50px !important;
    font-size: 14px !important;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.card-body2 a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card {

    box-shadow: 5px 5px 15px 10px gray !important;

}

.content {
    overflow: auto;
}

.usercard {
    height: 100px;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 0px !important;
    box-sizing: content-box;
}

.summary {

    overflow: auto;
    height: 25vh;
}

.commentpost {
    border: 0 solid gray;
    padding: 10px 5px 10px 2px;
    display: flex;
    width: 75%;
    box-shadow: 2px 2px 3px 3px gray;
}

.comment {
    height: 400px;
    overflow: auto;
}


.cm {
    box-shadow: 5px 5px 15px 10px gray !important;
    position: relative;
    overflow: hidden;
    background-color: aliceblue;
}

.sum {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0.8;
    position: absolute;
    transform: translateY(100%);
    overflow: auto;
    transition: transform 1s ease-in;
    max-width: 100%;
    overflow: auto;
    height: 100%;
    padding: 2rem;
    background: inherit;


}


.cm:hover .sum {
    transform: translateY(0);
    display: flex;

    transition: 1s ease-in-out;

}

.mycollapse {


    align-items: end;
    justify-content: end;
    align-self: end;


}


@media screen and (max-width:330px) {

    .list-group {
        display: none !important;
    }

    .card-body2 {
        display: none !important;
    }
}