<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Document</title>
    <link href="/static/app.css" rel="stylesheet">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
          integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
<nav class="navbar navbar-expand-md bg-body-secondary bg-gradient mb-4 ">
    <div class="container d-flex ">
        <a class="navbar-brand" href="http://localhost:8090/movies/find-all">Movie
            App</a>


        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="mycollapse collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex my-2 mx-5" role="">
                <input class="form-control me-2 mx-2 my-1" id="se" onkeyup="onChangenput()" placeholder="Search"
                       type="text">
                <button class="btn btn-outline-success" type="button">Search</button>
            </div>
            <ul class="navbar-nav d-flex align-items-center ">
                <li class="nav-item">
                    <a aria-current="page" class="nav-link active" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li  th:if="${user!=null}"  class="nav-item dropdown">
                    <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                       role="button">
                        <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle"
                             height="25" alt="Black and White Portrait of a Man" loading="lazy" />
                    </a>
                    </a>
                    <ul class="dropdown-menu text-center">
                        <li><a th:text="${user.name}"  class="dropdown-item" href="#"></a></li>
                        <li><a th:text="${user.userType}"  class="dropdown-item" href="#"></a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li ><a class="dropdown-item" href="#">Something else here</a></li>
                        <a th:href="${'/user/login'}"  class="btn btn-danger" >Logout</a>
                    </ul>
                </li>
                <a th:href="${'/user/login'}" th:if="${user==null}" class="btn btn-success mx-3 my-1" >Login</a>


            </ul>
        </div>

    </div>
</nav>

<div class="w-100 h-100 d-flex flex-column my-5 justify-content-between align-items-center">
    <div class="container p-3 main content row justify-content-around align-item-center bg-light">
        <img th:src="${movie.image}" height="100%" class="col-md-4" th:alt="${movie.name+'afis'}">
        <div class="moviedetail d-flex flex-column justify-content-around col-md-7">
            <h4 th:text="${movie.name}"></h4>
            <div>
                <span>Puan:</span>
                <span th:text="${movie.rating+'/10'}"></span>
            </div>
            <div class="d-flex gap-2">
                <span>Etiketler:</span>
                <span th:each="genreId:${movie.genreId}">
                    <a th:text="${genreservice.getGenreName(genreId)}" class="text-primary"></a>
                </span>
            </div>
            <div>
                <span>Ülke:</span>
                <span th:text="${movie?.country}"></span>
            </div>
            <div>
                <span>Dil:</span>
                <span th:text="${movie.language}"></span>
            </div>
            <div>
                <span>Tarih</span>
                <span th:text="${movie.premiered}"></span>
            </div>

            <div id="ItemButtons54158" class="item-buttons">
                <div class="other-buttons">
                    <a type="button"><i style="font-size:2.2rem" class="fa-regular fa-heart"></i></a>
                    <a type="button"> <i style="font-size: 2.2rem;color: #ff0000" class="fa-solid fa-heart"></i></a>
                </div>
            </div>
            <div th:utext="${movie.summary}"
                 class="border summary border-opacity-25 border-primary rounded-2 d-flex overflow-auto p-4">
            </div>
        </div>

    </div>
    <div class="container comment my-3 bg-light d-flex flex-column align-items-center w-100">
        <form method="post" action="/moviecomment/save" class="commentpost my-5 d-flex flex-column align-items-center w-75">
            <div class="row my-3 p-2 w-100">
                <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
                     class="mx-1 col-2 img-thumbnail rounded-start" alt="...">
                <textarea name="content" placeholder="Yorum paylaş" class="col-9 mx-1" style="resize: none" cols="7"
                          rows="2"></textarea>
                <input hidden="hidden" th:value="${user.id}" name="userId">
                <input hidden="hidden" th:value="${movie.id}" name="movieId">
            </div>

            <button type="submit" class="btn btn-primary w-25 align-self-end mb-2 mx-3">Paylaş</button>
        </form>


        <div th:each="commentId:${movie.commentId}" class="card usercard d-flex flex-column p-3 align-items-center w-75 my-2">
            <div th:object="${commentservice.findById(commentId).get()}" class="row d-flex container-fluid">
                <div class="col-md-2 userimg">
                    <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="img-thumbnail rounded-start"
                         alt="...">
                </div>
                <div class="col-md-10 text-center align-self-end">
                    <div class="card-body align-items-center">
                        <h5 th:text="${userservice.findById(commentservice.findById(commentId).get().userId).get().name}"
                            class="card-title"> </h5>
                        <p th:text="*{content}" class="card-text">
                        </p>
                        <p th:text="*{date}" class="card-text"><small class="text-muted"> </small></p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<script crossorigin="anonymous"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
